fullstackOpen.code-workspace
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

part1/courseInformation/1_2courseinformation/node_modules/*
part1/courseInformation/1_2courseinformation/public/*
part1/courseInformation/1_2courseinformation/logs
part1/courseInformation/1_2courseinformation/*.log
part1/courseInformation/1_2courseinformation/npm-debug.log*
part1/courseInformation/1_2courseinformation/yarn-debug.log*
part1/courseInformation/1_2courseinformation/yarn-error.log*
part1/courseInformation/1_2courseinformation/pnpm-debug.log*
part1/courseInformation/1_2courseinformation/lerna-debug.log*
part1/courseInformation/1_2courseinformation/dist
part1/courseInformation/1_2courseinformation/dist-ssr
part1/courseInformation/1_2courseinformation/*.local

part1/courseInformation/1_1courseinformation/node_modules/*
part1/courseInformation/1_1courseinformation/public/*
part1/courseInformation/1_1courseinformation/logs
part1/courseInformation/1_1courseinformation/*.log
part1/courseInformation/1_1courseinformation/npm-debug.log*
part1/courseInformation/1_1courseinformation/yarn-debug.log*
part1/courseInformation/1_1courseinformation/yarn-error.log*
part1/courseInformation/1_1courseinformation/pnpm-debug.log*
part1/courseInformation/1_1courseinformation/lerna-debug.log*
part1/courseInformation/1_1courseinformation/dist
part1/courseInformation/1_1courseinformation/dist-ssr
part1/courseInformation/1_1courseinformation/*.local

part1/courseInformation/1_3courseinformation/node_modules/*
part1/courseInformation/1_3courseinformation/public/*
part1/courseInformation/1_3courseinformation/logs
part1/courseInformation/1_3courseinformation/*.log
part1/courseInformation/1_3courseinformation/npm-debug.log*
part1/courseInformation/1_3courseinformation/yarn-debug.log*
part1/courseInformation/1_3courseinformation/yarn-error.log*
part1/courseInformation/1_3courseinformation/pnpm-debug.log*
part1/courseInformation/1_3courseinformation/lerna-debug.log*
part1/courseInformation/1_3courseinformation/dist
part1/courseInformation/1_3courseinformation/dist-ssr
part1/courseInformation/1_3courseinformation/*.local

part1/courseInformation/1_4courseinformation/node_modules/*
part1/courseInformation/1_4courseinformation/public/*
part1/courseInformation/1_4courseinformation/logs
part1/courseInformation/1_4courseinformation/*.log
part1/courseInformation/1_4courseinformation/npm-debug.log*
part1/courseInformation/1_4courseinformation/yarn-debug.log*
part1/courseInformation/1_4courseinformation/yarn-error.log*
part1/courseInformation/1_4courseinformation/pnpm-debug.log*
part1/courseInformation/1_4courseinformation/lerna-debug.log*
part1/courseInformation/1_4courseinformation/dist
part1/courseInformation/1_4courseinformation/dist-ssr
part1/courseInformation/1_4courseinformation/*.local

part1/courseInformation/1_5courseinformation/node_modules/*
part1/courseInformation/1_5courseinformation/public/*
part1/courseInformation/1_5courseinformation/logs
part1/courseInformation/1_5courseinformation/*.log
part1/courseInformation/1_5courseinformation/npm-debug.log*
part1/courseInformation/1_5courseinformation/yarn-debug.log*
part1/courseInformation/1_5courseinformation/yarn-error.log*
part1/courseInformation/1_5courseinformation/pnpm-debug.log*
part1/courseInformation/1_5courseinformation/lerna-debug.log*
part1/courseInformation/1_5courseinformation/dist
part1/courseInformation/1_5courseinformation/dist-ssr
part1/courseInformation/1_5courseinformation/*.local

part1/unicafe/1_6unicafestep1/node_modules/*
part1/unicafe/1_6unicafestep1/public/*
part1/unicafe/1_6unicafestep1/logs
part1/unicafe/1_6unicafestep1/*.log
part1/unicafe/1_6unicafestep1/npm-debug.log*
part1/unicafe/1_6unicafestep1/yarn-debug.log*
part1/unicafe/1_6unicafestep1/yarn-error.log*
part1/unicafe/1_6unicafestep1/pnpm-debug.log*
part1/unicafe/1_6unicafestep1/lerna-debug.log*
part1/unicafe/1_6unicafestep1/dist
part1/unicafe/1_6unicafestep1/dist-ssr
part1/unicafe/1_6unicafestep1/*.local

part1/unicafe/1_7unicafestep2/node_modules/*
part1/unicafe/1_7unicafestep2/public/*
part1/unicafe/1_7unicafestep2/logs
part1/unicafe/1_7unicafestep2/*.log
part1/unicafe/1_7unicafestep2/npm-debug.log*
part1/unicafe/1_7unicafestep2/yarn-debug.log*
part1/unicafe/1_7unicafestep2/yarn-error.log*
part1/unicafe/1_7unicafestep2/pnpm-debug.log*
part1/unicafe/1_7unicafestep2/lerna-debug.log*
part1/unicafe/1_7unicafestep2/dist
part1/unicafe/1_7unicafestep2/dist-ssr
part1/unicafe/1_7unicafestep2/*.local

part1/unicafe/1_8unicafestep3/node_modules/*
part1/unicafe/1_8unicafestep3/public/*
part1/unicafe/1_8unicafestep3/logs
part1/unicafe/1_8unicafestep3/*.log
part1/unicafe/1_8unicafestep3/npm-debug.log*
part1/unicafe/1_8unicafestep3/yarn-debug.log*
part1/unicafe/1_8unicafestep3/yarn-error.log*
part1/unicafe/1_8unicafestep3/pnpm-debug.log*
part1/unicafe/1_8unicafestep3/lerna-debug.log*
part1/unicafe/1_8unicafestep3/dist
part1/unicafe/1_8unicafestep3/dist-ssr
part1/unicafe/1_8unicafestep3/*.local

part1/unicafe/1_9unicafestep4/node_modules/*
part1/unicafe/1_9unicafestep4/public/*
part1/unicafe/1_9unicafestep4/logs
part1/unicafe/1_9unicafestep4/*.log
part1/unicafe/1_9unicafestep4/npm-debug.log*
part1/unicafe/1_9unicafestep4/yarn-debug.log*
part1/unicafe/1_9unicafestep4/yarn-error.log*
part1/unicafe/1_9unicafestep4/pnpm-debug.log*
part1/unicafe/1_9unicafestep4/lerna-debug.log*
part1/unicafe/1_9unicafestep4/dist
part1/unicafe/1_9unicafestep4/dist-ssr
part1/unicafe/1_9unicafestep4/*.local

part1/unicafe/1_10unicafestep5/node_modules/*
part1/unicafe/1_10unicafestep5/public/*
part1/unicafe/1_10unicafestep5/logs
part1/unicafe/1_10unicafestep5/*.log
part1/unicafe/1_10unicafestep5/npm-debug.log*
part1/unicafe/1_10unicafestep5/yarn-debug.log*
part1/unicafe/1_10unicafestep5/yarn-error.log*
part1/unicafe/1_10unicafestep5/pnpm-debug.log*
part1/unicafe/1_10unicafestep5/lerna-debug.log*
part1/unicafe/1_10unicafestep5/dist
part1/unicafe/1_10unicafestep5/dist-ssr
part1/unicafe/1_10unicafestep5/*.local

part1/unicafe/1_11unicafestep6/node_modules/*
part1/unicafe/1_11unicafestep6/public/*
part1/unicafe/1_11unicafestep6/logs
part1/unicafe/1_11unicafestep6/*.log
part1/unicafe/1_11unicafestep6/npm-debug.log*
part1/unicafe/1_11unicafestep6/yarn-debug.log*
part1/unicafe/1_11unicafestep6/yarn-error.log*
part1/unicafe/1_11unicafestep6/pnpm-debug.log*
part1/unicafe/1_11unicafestep6/lerna-debug.log*
part1/unicafe/1_11unicafestep6/dist
part1/unicafe/1_11unicafestep6/dist-ssr
part1/unicafe/1_11unicafestep6/*.local

part1/anecdotes/1_12anecdotesstep1/node_modules/*
part1/anecdotes/1_12anecdotesstep1/public/*
part1/anecdotes/1_12anecdotesstep1/logs
part1/anecdotes/1_12anecdotesstep1/*.log
part1/anecdotes/1_12anecdotesstep1/npm-debug.log*
part1/anecdotes/1_12anecdotesstep1/yarn-debug.log*
part1/anecdotes/1_12anecdotesstep1/yarn-error.log*
part1/anecdotes/1_12anecdotesstep1/pnpm-debug.log*
part1/anecdotes/1_12anecdotesstep1/lerna-debug.log*
part1/anecdotes/1_12anecdotesstep1/dist
part1/anecdotes/1_12anecdotesstep1/dist-ssr
part1/anecdotes/1_12anecdotesstep1/*.local

part1/anecdotes/1_13anecdotesstep2/node_modules/*
part1/anecdotes/1_13anecdotesstep2/public/*
part1/anecdotes/1_13anecdotesstep2/logs
part1/anecdotes/1_13anecdotesstep2/*.log
part1/anecdotes/1_13anecdotesstep2/npm-debug.log*
part1/anecdotes/1_13anecdotesstep2/yarn-debug.log*
part1/anecdotes/1_13anecdotesstep2/yarn-error.log*
part1/anecdotes/1_13anecdotesstep2/pnpm-debug.log*
part1/anecdotes/1_13anecdotesstep2/lerna-debug.log*
part1/anecdotes/1_13anecdotesstep2/dist
part1/anecdotes/1_13anecdotesstep2/dist-ssr
part1/anecdotes/1_13anecdotesstep2/*.local

part1/anecdotes/1_14anecdotesstep3/node_modules/*
part1/anecdotes/1_14anecdotesstep3/public/*
part1/anecdotes/1_14anecdotesstep3/logs
part1/anecdotes/1_14anecdotesstep3/*.log
part1/anecdotes/1_14anecdotesstep3/npm-debug.log*
part1/anecdotes/1_14anecdotesstep3/yarn-debug.log*
part1/anecdotes/1_14anecdotesstep3/yarn-error.log*
part1/anecdotes/1_14anecdotesstep3/pnpm-debug.log*
part1/anecdotes/1_14anecdotesstep3/lerna-debug.log*
part1/anecdotes/1_14anecdotesstep3/dist
part1/anecdotes/1_14anecdotesstep3/dist-ssr
part1/anecdotes/1_14anecdotesstep3/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

part1/courseInformation/1_1courseinformation/.vscode/*
part1/courseInformation/1_1courseinformation/!.vscode/extensions.json
part1/courseInformation/1_1courseinformation/.idea
part1/courseInformation/1_1courseinformation/.DS_Store
part1/courseInformation/1_1courseinformation/*.suo
part1/courseInformation/1_1courseinformation/*.ntvs*
part1/courseInformation/1_1courseinformation/*.njsproj
part1/courseInformation/1_1courseinformation/*.sln
part1/courseInformation/1_1courseinformation/*.sw?

part1/courseInformation/1_2courseinformation/.vscode/*
part1/courseInformation/1_2courseinformation/!.vscode/extensions.json
part1/courseInformation/1_2courseinformation/.idea
part1/courseInformation/1_2courseinformation/.DS_Store
part1/courseInformation/1_2courseinformation/*.suo
part1/courseInformation/1_2courseinformation/*.ntvs*
part1/courseInformation/1_2courseinformation/*.njsproj
part1/courseInformation/1_2courseinformation/*.sln
part1/courseInformation/1_2courseinformation/*.sw?

part1/courseInformation/1_3courseinformation/.vscode/*
part1/courseInformation/1_3courseinformation/!.vscode/extensions.json
part1/courseInformation/1_3courseinformation/.idea
part1/courseInformation/1_3courseinformation/.DS_Store
part1/courseInformation/1_3courseinformation/*.suo
part1/courseInformation/1_3courseinformation/*.ntvs*
part1/courseInformation/1_3courseinformation/*.njsproj
part1/courseInformation/1_3courseinformation/*.sln
part1/courseInformation/1_3courseinformation/*.sw?

part1/courseInformation/1_4courseinformation/.vscode/*
part1/courseInformation/1_4courseinformation/!.vscode/extensions.json
part1/courseInformation/1_4courseinformation/.idea
part1/courseInformation/1_4courseinformation/.DS_Store
part1/courseInformation/1_4courseinformation/*.suo
part1/courseInformation/1_4courseinformation/*.ntvs*
part1/courseInformation/1_4courseinformation/*.njsproj
part1/courseInformation/1_4courseinformation/*.sln
part1/courseInformation/1_4courseinformation/*.sw?

part1/courseInformation/1_5courseinformation/.vscode/*
part1/courseInformation/1_5courseinformation/!.vscode/extensions.json
part1/courseInformation/1_5courseinformation/.idea
part1/courseInformation/1_5courseinformation/.DS_Store
part1/courseInformation/1_5courseinformation/*.suo
part1/courseInformation/1_5courseinformation/*.ntvs*
part1/courseInformation/1_5courseinformation/*.njsproj
part1/courseInformation/1_5courseinformation/*.sln
part1/courseInformation/1_5courseinformation/*.sw?

part1/unicafe/1_6unicafestep1/.vscode/*
part1/unicafe/1_6unicafestep1/!.vscode/extensions.json
part1/unicafe/1_6unicafestep1/.idea
part1/unicafe/1_6unicafestep1/.DS_Store
part1/unicafe/1_6unicafestep1/*.suo
part1/unicafe/1_6unicafestep1/*.ntvs*
part1/unicafe/1_6unicafestep1/*.njsproj
part1/unicafe/1_6unicafestep1/*.sln
part1/unicafe/1_6unicafestep1/*.sw?

part1/unicafe/1_7unicafestep2/.vscode/*
part1/unicafe/1_7unicafestep2/!.vscode/extensions.json
part1/unicafe/1_7unicafestep2/.idea
part1/unicafe/1_7unicafestep2/.DS_Store
part1/unicafe/1_7unicafestep2/*.suo
part1/unicafe/1_7unicafestep2/*.ntvs*
part1/unicafe/1_7unicafestep2/*.njsproj
part1/unicafe/1_7unicafestep2/*.sln
part1/unicafe/1_7unicafestep2/*.sw?

part1/unicafe/1_8unicafestep3/.vscode/*
part1/unicafe/1_8unicafestep3/!.vscode/extensions.json
part1/unicafe/1_8unicafestep3/.idea
part1/unicafe/1_8unicafestep3/.DS_Store
part1/unicafe/1_8unicafestep3/*.suo
part1/unicafe/1_8unicafestep3/*.ntvs*
part1/unicafe/1_8unicafestep3/*.njsproj
part1/unicafe/1_8unicafestep3/*.sln
part1/unicafe/1_8unicafestep3/*.sw?

part1/unicafe/1_9unicafestep4/.vscode/*
part1/unicafe/1_9unicafestep4/!.vscode/extensions.json
part1/unicafe/1_9unicafestep4/.idea
part1/unicafe/1_9unicafestep4/.DS_Store
part1/unicafe/1_9unicafestep4/*.suo
part1/unicafe/1_9unicafestep4/*.ntvs*
part1/unicafe/1_9unicafestep4/*.njsproj
part1/unicafe/1_9unicafestep4/*.sln
part1/unicafe/1_9unicafestep4/*.sw?

part1/unicafe/1_10unicafestep5/.vscode/*
part1/unicafe/1_10unicafestep5/!.vscode/extensions.json
part1/unicafe/1_10unicafestep5/.idea
part1/unicafe/1_10unicafestep5/.DS_Store
part1/unicafe/1_10unicafestep5/*.suo
part1/unicafe/1_10unicafestep5/*.ntvs*
part1/unicafe/1_10unicafestep5/*.njsproj
part1/unicafe/1_10unicafestep5/*.sln
part1/unicafe/1_10unicafestep5/*.sw?

part1/unicafe/1_11unicafestep6/.vscode/*
part1/unicafe/1_11unicafestep6/!.vscode/extensions.json
part1/unicafe/1_11unicafestep6/.idea
part1/unicafe/1_11unicafestep6/.DS_Store
part1/unicafe/1_11unicafestep6/*.suo
part1/unicafe/1_11unicafestep6/*.ntvs*
part1/unicafe/1_11unicafestep6/*.njsproj
part1/unicafe/1_11unicafestep6/*.sln
part1/unicafe/1_11unicafestep6/*.sw?

part1/anecdotes/1_12anecdotesstep1/.vscode/*
part1/anecdotes/1_12anecdotesstep1/!.vscode/extensions.json
part1/anecdotes/1_12anecdotesstep1/.idea
part1/anecdotes/1_12anecdotesstep1/.DS_Store
part1/anecdotes/1_12anecdotesstep1/*.suo
part1/anecdotes/1_12anecdotesstep1/*.ntvs*
part1/anecdotes/1_12anecdotesstep1/*.njsproj
part1/anecdotes/1_12anecdotesstep1/*.sln
part1/anecdotes/1_12anecdotesstep1/*.sw?

part1/anecdotes/1_13anecdotesstep2/.vscode/*
part1/anecdotes/1_13anecdotesstep2/!.vscode/extensions.json
part1/anecdotes/1_13anecdotesstep2/.idea
part1/anecdotes/1_13anecdotesstep2/.DS_Store
part1/anecdotes/1_13anecdotesstep2/*.suo
part1/anecdotes/1_13anecdotesstep2/*.ntvs*
part1/anecdotes/1_13anecdotesstep2/*.njsproj
part1/anecdotes/1_13anecdotesstep2/*.sln
part1/anecdotes/1_13anecdotesstep2/*.sw?

part1/anecdotes/1_14anecdotesstep3/.vscode/*
part1/anecdotes/1_14anecdotesstep3/!.vscode/extensions.json
part1/anecdotes/1_14anecdotesstep3/.idea
part1/anecdotes/1_14anecdotesstep3/.DS_Store
part1/anecdotes/1_14anecdotesstep3/*.suo
part1/anecdotes/1_14anecdotesstep3/*.ntvs*
part1/anecdotes/1_14anecdotesstep3/*.njsproj
part1/anecdotes/1_14anecdotesstep3/*.sln
part1/anecdotes/1_14anecdotesstep3/*.sw?

part1/part1exercise01-app/
part1/node_modules/

part2/part2-notes-frontend/
part2/part2exercise01-app/
part2/node_modules/
part2/data.txt
part2/JSexercises.js
part2/node_modules/
part2/part2-exercise-notes-server-JSON/


part2/couseInformation/2_1anecdotesstep6/.vscode/*
part2/couseInformation/2_1anecdotesstep6/!.vscode/extensions.json
part2/couseInformation/2_1anecdotesstep6/.idea
part2/couseInformation/2_1anecdotesstep6/.DS_Store
part2/couseInformation/2_1anecdotesstep6/*.suo
part2/couseInformation/2_1anecdotesstep6/*.ntvs*
part2/couseInformation/2_1anecdotesstep6/*.njsproj
part2/couseInformation/2_1anecdotesstep6/*.sln
part2/couseInformation/2_1anecdote2step6/*.sw?

part2/couseInformation/2_2anecdotesstep7/.vscode/*
part2/couseInformation/2_2anecdotesstep7/!.vscode/extensions.json
part2/couseInformation/2_2anecdotesstep7/.idea
part2/couseInformation/2_2anecdotesstep7/.DS_Store
part2/couseInformation/2_2anecdotesstep7/*.suo
part2/couseInformation/2_2anecdotesstep7/*.ntvs*
part2/couseInformation/2_2anecdotesstep7/*.njsproj
part2/couseInformation/2_2anecdotesstep7/*.sln
part2/couseInformation/2_2anecdote2step7/*.sw?

part2/couseInformation/2_3anecdotesstep8/.vscode/*
part2/couseInformation/2_3anecdotesstep8/!.vscode/extensions.json
part2/couseInformation/2_3anecdotesstep8/.idea
part2/couseInformation/2_3anecdotesstep8/.DS_Store
part2/couseInformation/2_3anecdotesstep8/*.suo
part2/couseInformation/2_3anecdotesstep8/*.ntvs*
part2/couseInformation/2_3anecdotesstep8/*.njsproj
part2/couseInformation/2_3anecdotesstep8/*.sln
part2/couseInformation/2_3anecdote2step8/*.sw?

part2/couseInformation/2_4anecdotesstep9/.vscode/*
part2/couseInformation/2_4anecdotesstep9/!.vscode/extensions.json
part2/couseInformation/2_4anecdotesstep9/.idea
part2/couseInformation/2_4anecdotesstep9/.DS_Store
part2/couseInformation/2_4anecdotesstep9/*.suo
part2/couseInformation/2_4anecdotesstep9/*.ntvs*
part2/couseInformation/2_4anecdotesstep9/*.njsproj
part2/couseInformation/2_4anecdotesstep9/*.sln
part2/couseInformation/2_4anecdote2step9/*.sw?

part2/couseInformation/2_5anecdotesstep10/.vscode/*
part2/couseInformation/2_5anecdotesstep10/!.vscode/extensions.json
part2/couseInformation/2_5anecdotesstep10/.idea
part2/couseInformation/2_5anecdotesstep10/.DS_Store
part2/couseInformation/2_5anecdotesstep10/*.suo
part2/couseInformation/2_5anecdotesstep10/*.ntvs*
part2/couseInformation/2_5anecdotesstep10/*.njsproj
part2/couseInformation/2_5anecdotesstep10/*.sln
part2/couseInformation/2_5anecdote2step10/*.sw?

part2/phoneBook/2_6phonebookstep1/.vscode/*
part2/phoneBook/2_6phonebookstep1/!.vscode/extensions.json
part2/phoneBook/2_6phonebookstep1/.idea
part2/phoneBook/2_6phonebookstep1/.DS_Store
part2/phoneBook/2_6phonebookstep1/*.suo
part2/phoneBook/2_6phonebookstep1/*.ntvs*
part2/phoneBook/2_6phonebookstep1/*.njsproj
part2/phoneBook/2_6phonebookstep1/*.sln
part2/phoneBook/2_6phonebookstep1/*.sw?

part2/phoneBook/2_7phonebookstep2/.vscode/*
part2/phoneBook/2_7phonebookstep2/!.vscode/extensions.json
part2/phoneBook/2_7phonebookstep2/.idea
part2/phoneBook/2_7phonebookstep2/.DS_Store
part2/phoneBook/2_7phonebookstep2/*.suo
part2/phoneBook/2_7phonebookstep2/*.ntvs*
part2/phoneBook/2_7phonebookstep2/*.njsproj
part2/phoneBook/2_7phonebookstep2/*.sln
part2/phoneBook/2_7phonebookstep2/*.sw?

part2/phoneBook/2_8phonebookstep3/.vscode/*
part2/phoneBook/2_8phonebookstep3/!.vscode/extensions.json
part2/phoneBook/2_8phonebookstep3/.idea
part2/phoneBook/2_8phonebookstep3/.DS_Store
part2/phoneBook/2_8phonebookstep3/*.suo
part2/phoneBook/2_8phonebookstep3/*.ntvs*
part2/phoneBook/2_8phonebookstep3/*.njsproj
part2/phoneBook/2_8phonebookstep3/*.sln
part2/phoneBook/2_8phonebookstep3/*.sw?

part2/phoneBook/2_9phonebookstep4/.vscode/*
part2/phoneBook/2_9phonebookstep4/!.vscode/extensions.json
part2/phoneBook/2_9phonebookstep4/.idea
part2/phoneBook/2_9phonebookstep4/.DS_Store
part2/phoneBook/2_9phonebookstep4/*.suo
part2/phoneBook/2_9phonebookstep4/*.ntvs*
part2/phoneBook/2_9phonebookstep4/*.njsproj
part2/phoneBook/2_9phonebookstep4/*.sln
part2/phoneBook/2_9phonebookstep4/*.sw?

part2/phoneBook/2_10phonebookstep5/.vscode/*
part2/phoneBook/2_10phonebookstep5/!.vscode/extensions.json
part2/phoneBook/2_10phonebookstep5/.idea
part2/phoneBook/2_10phonebookstep5/.DS_Store
part2/phoneBook/2_10phonebookstep5/*.suo
part2/phoneBook/2_10phonebookstep5/*.ntvs*
part2/phoneBook/2_10phonebookstep5/*.njsproj
part2/phoneBook/2_10phonebookstep5/*.sln
part2/phoneBook/2_10phonebookstep5/*.sw?

part2/phoneBook/2_11phonebookstep6/.vscode/*
part2/phoneBook/2_11phonebookstep6/!.vscode/extensions.json
part2/phoneBook/2_11phonebookstep6/.idea
part2/phoneBook/2_11phonebookstep6/.DS_Store
part2/phoneBook/2_11phonebookstep6/*.suo
part2/phoneBook/2_11phonebookstep6/*.ntvs*
part2/phoneBook/2_11phonebookstep6/*.njsproj
part2/phoneBook/2_11phonebookstep6/*.sln
part2/phoneBook/2_11phonebookstep6/*.sw?

part2/phoneBook/2_12phonebookstep7/!.vscode/extensions.json
part2/phoneBook/2_12phonebookstep7/.idea
part2/phoneBook/2_12phonebookstep7/.vscode/*
part2/phoneBook/2_12phonebookstep7/.DS_Store
part2/phoneBook/2_12phonebookstep7/*.suo
part2/phoneBook/2_12phonebookstep7/*.ntvs*
part2/phoneBook/2_12phonebookstep7/*.njsproj
part2/phoneBook/2_12phonebookstep7/*.sln
part2/phoneBook/2_12phonebookstep7/*.sw?

part2/phoneBook/2_13phonebookstep8/!.vscode/extensions.json
part2/phoneBook/2_13phonebookstep8/.idea
part2/phoneBook/2_13phonebookstep8/.vscode/*
part2/phoneBook/2_13phonebookstep8/.DS_Store
part2/phoneBook/2_13phonebookstep8/*.suo
part2/phoneBook/2_13phonebookstep8/*.ntvs*
part2/phoneBook/2_13phonebookstep8/*.njsproj
part2/phoneBook/2_13phonebookstep8/*.sln
part2/phoneBook/2_13phonebookstep8/*.sw?

part2/phoneBook/2_14phonebookstep9/!.vscode/extensions.json
part2/phoneBook/2_14phonebookstep9/.idea
part2/phoneBook/2_14phonebookstep9/.vscode/*
part2/phoneBook/2_14phonebookstep9/.DS_Store
part2/phoneBook/2_14phonebookstep9/*.suo
part2/phoneBook/2_14phonebookstep9/*.ntvs*
part2/phoneBook/2_14phonebookstep9/*.njsproj
part2/phoneBook/2_14phonebookstep9/*.sln
part2/phoneBook/2_14phonebookstep9/*.sw?

part2/phoneBook/2_15phonebookstep10/!.vscode/extensions.json
part2/phoneBook/2_15phonebookstep10/.idea
part2/phoneBook/2_15phonebookstep10/.vscode/*
part2/phoneBook/2_15phonebookstep10/.DS_Store
part2/phoneBook/2_15phonebookstep10/*.suo
part2/phoneBook/2_15phonebookstep10/*.ntvs*
part2/phoneBook/2_15phonebookstep10/*.njsproj
part2/phoneBook/2_15phonebookstep10/*.sln
part2/phoneBook/2_15phonebookstep10/*.sw?

part2/phoneBook/2_16phonebookstep11/!.vscode/extensions.json
part2/phoneBook/2_16phonebookstep11/.idea
part2/phoneBook/2_16phonebookstep11/.vscode/*
part2/phoneBook/2_16phonebookstep11/.DS_Store
part2/phoneBook/2_16phonebookstep11/*.suo
part2/phoneBook/2_16phonebookstep11/*.ntvs*
part2/phoneBook/2_16phonebookstep11/*.njsproj
part2/phoneBook/2_16phonebookstep11/*.sln
part2/phoneBook/2_16phonebookstep11/*.sw?

part2/phoneBook/2_17phonebookstep12/!.vscode/extensions.json
part2/phoneBook/2_17phonebookstep12/.idea
part2/phoneBook/2_17phonebookstep12/.vscode/*
part2/phoneBook/2_17phonebookstep12/.DS_Store
part2/phoneBook/2_17phonebookstep12/*.suo
part2/phoneBook/2_17phonebookstep12/*.ntvs*
part2/phoneBook/2_17phonebookstep12/*.njsproj
part2/phoneBook/2_17phonebookstep12/*.sln
part2/phoneBook/2_17phonebookstep12/*.sw?

part2/dataForCountries/2_18dataForCountriestep1/!.vscode/extensions.json
part2/dataForCountries/2_18dataForCountriestep1/.idea
part2/dataForCountries/2_18dataForCountriestep1/.vscode/*
part2/dataForCountries/2_18dataForCountriestep1/.DS_Store
part2/dataForCountries/2_18dataForCountriestep1/*.suo
part2/dataForCountries/2_18dataForCountriestep1/*.ntvs*
part2/dataForCountries/2_18dataForCountriestep1/*.njsproj
part2/dataForCountries/2_18dataForCountriestep1/*.sln
part2/dataForCountries/2_18dataForCountriestep1/*.sw?

part2/dataForCountries/2_19dataForCountriestep2/!.vscode/extensions.json
part2/dataForCountries/2_19dataForCountriestep2/.idea
part2/dataForCountries/2_19dataForCountriestep2/.vscode/*
part2/dataForCountries/2_19dataForCountriestep2/.DS_Store
part2/dataForCountries/2_19dataForCountriestep2/*.suo
part2/dataForCountries/2_19dataForCountriestep2/*.ntvs*
part2/dataForCountries/2_19dataForCountriestep2/*.njsproj
part2/dataForCountries/2_19dataForCountriestep2/*.sln
part2/dataForCountries/2_19dataForCountriestep2/*.sw?

part2/dataForCountries/2_20dataForCountriestep3/!.vscode/extensions.json
part2/dataForCountries/2_20dataForCountriestep3/.idea
part2/dataForCountries/2_20dataForCountriestep3/.vscode/*
part2/dataForCountries/2_20dataForCountriestep3/.DS_Store
part2/dataForCountries/2_20dataForCountriestep3/*.suo
part2/dataForCountries/2_20dataForCountriestep3/*.ntvs*
part2/dataForCountries/2_20dataForCountriestep3/*.njsproj
part2/dataForCountries/2_20dataForCountriestep3/*.sln
part2/dataForCountries/2_20dataForCountriestep3/*.sw?

part3/firstExerciseChapter3
