fullstackOpen.code-workspace
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

part1/courseInformation/1_2courseinformation/node_modules/*
part1/courseInformation/1_2courseinformation/public/*
part1/courseInformation/1_2courseinformation/logs
part1/courseInformation/1_2courseinformation/*.log
part1/courseInformation/1_2courseinformation/npm-debug.log*
part1/courseInformation/1_2courseinformation/yarn-debug.log*
part1/courseInformation/1_2courseinformation/yarn-error.log*
part1/courseInformation/1_2courseinformation/pnpm-debug.log*
part1/courseInformation/1_2courseinformation/lerna-debug.log*
part1/courseInformation/1_2courseinformation/dist
part1/courseInformation/1_2courseinformation/dist-ssr
part1/courseInformation/1_1courseinformation/*.local
part1/courseInformation/1_1courseinformation/node_modules/*
part1/courseInformation/1_1courseinformation/public/*
part1/courseInformation/1_1courseinformation/logs
part1/courseInformation/1_1courseinformation/*.log
part1/courseInformation/1_1courseinformation/npm-debug.log*
part1/courseInformation/1_1courseinformation/yarn-debug.log*
part1/courseInformation/1_1courseinformation/yarn-error.log*
part1/courseInformation/1_1courseinformation/pnpm-debug.log*
part1/courseInformation/1_1courseinformation/lerna-debug.log*
part1/courseInformation/1_1courseinformation/dist
part1/courseInformation/1_1courseinformation/dist-ssr
part1/courseInformation/1_1courseinformation/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

part1/courseInformation/1_1courseinformation/.vscode/*
part1/courseInformation/1_1courseinformation/!.vscode/extensions.json
part1/courseInformation/1_1courseinformation/.idea
part1/courseInformation/1_1courseinformation/.DS_Store
part1/courseInformation/1_1courseinformation/*.suo
part1/courseInformation/1_1courseinformation/*.ntvs*
part1/courseInformation/1_1courseinformation/*.njsproj
part1/courseInformation/1_1courseinformation/*.sln
part1/courseInformation/1_1courseinformation/*.sw?

part1/courseInformation/1_2courseinformation/.vscode/*
part1/courseInformation/1_2courseinformation/!.vscode/extensions.json
part1/courseInformation/1_2courseinformation/.idea
part1/courseInformation/1_2courseinformation/.DS_Store
part1/courseInformation/1_2courseinformation/*.suo
part1/courseInformation/1_2courseinformation/*.ntvs*
part1/courseInformation/1_2courseinformation/*.njsproj
part1/courseInformation/1_2courseinformation/*.sln
part1/courseInformation/1_2courseinformation/*.sw?
