fullstackOpen.code-workspace
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

part1/courseInformation/1_2courseinformation/node_modules/*
part1/courseInformation/1_2courseinformation/public/*
part1/courseInformation/1_2courseinformation/logs
part1/courseInformation/1_2courseinformation/*.log
part1/courseInformation/1_2courseinformation/npm-debug.log*
part1/courseInformation/1_2courseinformation/yarn-debug.log*
part1/courseInformation/1_2courseinformation/yarn-error.log*
part1/courseInformation/1_2courseinformation/pnpm-debug.log*
part1/courseInformation/1_2courseinformation/lerna-debug.log*
part1/courseInformation/1_2courseinformation/dist
part1/courseInformation/1_2courseinformation/dist-ssr
part1/courseInformation/1_2courseinformation/*.local

part1/courseInformation/1_1courseinformation/node_modules/*
part1/courseInformation/1_1courseinformation/public/*
part1/courseInformation/1_1courseinformation/logs
part1/courseInformation/1_1courseinformation/*.log
part1/courseInformation/1_1courseinformation/npm-debug.log*
part1/courseInformation/1_1courseinformation/yarn-debug.log*
part1/courseInformation/1_1courseinformation/yarn-error.log*
part1/courseInformation/1_1courseinformation/pnpm-debug.log*
part1/courseInformation/1_1courseinformation/lerna-debug.log*
part1/courseInformation/1_1courseinformation/dist
part1/courseInformation/1_1courseinformation/dist-ssr
part1/courseInformation/1_1courseinformation/*.local

part1/courseInformation/1_3courseinformation/node_modules/*
part1/courseInformation/1_3courseinformation/public/*
part1/courseInformation/1_3courseinformation/logs
part1/courseInformation/1_3courseinformation/*.log
part1/courseInformation/1_3courseinformation/npm-debug.log*
part1/courseInformation/1_3courseinformation/yarn-debug.log*
part1/courseInformation/1_3courseinformation/yarn-error.log*
part1/courseInformation/1_3courseinformation/pnpm-debug.log*
part1/courseInformation/1_3courseinformation/lerna-debug.log*
part1/courseInformation/1_3courseinformation/dist
part1/courseInformation/1_3courseinformation/dist-ssr
part1/courseInformation/1_3courseinformation/*.local

part1/courseInformation/1_4courseinformation/node_modules/*
part1/courseInformation/1_4courseinformation/public/*
part1/courseInformation/1_4courseinformation/logs
part1/courseInformation/1_4courseinformation/*.log
part1/courseInformation/1_4courseinformation/npm-debug.log*
part1/courseInformation/1_4courseinformation/yarn-debug.log*
part1/courseInformation/1_4courseinformation/yarn-error.log*
part1/courseInformation/1_4courseinformation/pnpm-debug.log*
part1/courseInformation/1_4courseinformation/lerna-debug.log*
part1/courseInformation/1_4courseinformation/dist
part1/courseInformation/1_4courseinformation/dist-ssr
part1/courseInformation/1_4courseinformation/*.local

part1/courseInformation/1_5courseinformation/node_modules/*
part1/courseInformation/1_5courseinformation/public/*
part1/courseInformation/1_5courseinformation/logs
part1/courseInformation/1_5courseinformation/*.log
part1/courseInformation/1_5courseinformation/npm-debug.log*
part1/courseInformation/1_5courseinformation/yarn-debug.log*
part1/courseInformation/1_5courseinformation/yarn-error.log*
part1/courseInformation/1_5courseinformation/pnpm-debug.log*
part1/courseInformation/1_5courseinformation/lerna-debug.log*
part1/courseInformation/1_5courseinformation/dist
part1/courseInformation/1_5courseinformation/dist-ssr
part1/courseInformation/1_5courseinformation/*.local

part1/unicafe/1_6unicafestep1/node_modules/*
part1/unicafe/1_6unicafestep1/public/*
part1/unicafe/1_6unicafestep1/logs
part1/unicafe/1_6unicafestep1/*.log
part1/unicafe/1_6unicafestep1/npm-debug.log*
part1/unicafe/1_6unicafestep1/yarn-debug.log*
part1/unicafe/1_6unicafestep1/yarn-error.log*
part1/unicafe/1_6unicafestep1/pnpm-debug.log*
part1/unicafe/1_6unicafestep1/lerna-debug.log*
part1/unicafe/1_6unicafestep1/dist
part1/unicafe/1_6unicafestep1/dist-ssr
part1/unicafe/1_6unicafestep1/*.local

part1/unicafe/1_7unicafestep2/node_modules/*
part1/unicafe/1_7unicafestep2/public/*
part1/unicafe/1_7unicafestep2/logs
part1/unicafe/1_7unicafestep2/*.log
part1/unicafe/1_7unicafestep2/npm-debug.log*
part1/unicafe/1_7unicafestep2/yarn-debug.log*
part1/unicafe/1_7unicafestep2/yarn-error.log*
part1/unicafe/1_7unicafestep2/pnpm-debug.log*
part1/unicafe/1_7unicafestep2/lerna-debug.log*
part1/unicafe/1_7unicafestep2/dist
part1/unicafe/1_7unicafestep2/dist-ssr
part1/unicafe/1_7unicafestep2/*.local

part1/unicafe/1_8unicafestep3/node_modules/*
part1/unicafe/1_8unicafestep3/public/*
part1/unicafe/1_8unicafestep3/logs
part1/unicafe/1_8unicafestep3/*.log
part1/unicafe/1_8unicafestep3/npm-debug.log*
part1/unicafe/1_8unicafestep3/yarn-debug.log*
part1/unicafe/1_8unicafestep3/yarn-error.log*
part1/unicafe/1_8unicafestep3/pnpm-debug.log*
part1/unicafe/1_8unicafestep3/lerna-debug.log*
part1/unicafe/1_8unicafestep3/dist
part1/unicafe/1_8unicafestep3/dist-ssr
part1/unicafe/1_8unicafestep3/*.local

part1/unicafe/1_9unicafestep4/node_modules/*
part1/unicafe/1_9unicafestep4/public/*
part1/unicafe/1_9unicafestep4/logs
part1/unicafe/1_9unicafestep4/*.log
part1/unicafe/1_9unicafestep4/npm-debug.log*
part1/unicafe/1_9unicafestep4/yarn-debug.log*
part1/unicafe/1_9unicafestep4/yarn-error.log*
part1/unicafe/1_9unicafestep4/pnpm-debug.log*
part1/unicafe/1_9unicafestep4/lerna-debug.log*
part1/unicafe/1_9unicafestep4/dist
part1/unicafe/1_9unicafestep4/dist-ssr
part1/unicafe/1_9unicafestep4/*.local

part1/unicafe/1_10unicafestep5/node_modules/*
part1/unicafe/1_10unicafestep5/public/*
part1/unicafe/1_10unicafestep5/logs
part1/unicafe/1_10unicafestep5/*.log
part1/unicafe/1_10unicafestep5/npm-debug.log*
part1/unicafe/1_10unicafestep5/yarn-debug.log*
part1/unicafe/1_10unicafestep5/yarn-error.log*
part1/unicafe/1_10unicafestep5/pnpm-debug.log*
part1/unicafe/1_10unicafestep5/lerna-debug.log*
part1/unicafe/1_10unicafestep5/dist
part1/unicafe/1_10unicafestep5/dist-ssr
part1/unicafe/1_10unicafestep5/*.local

part1/unicafe/1_11unicafestep6/node_modules/*
part1/unicafe/1_11unicafestep6/public/*
part1/unicafe/1_11unicafestep6/logs
part1/unicafe/1_11unicafestep6/*.log
part1/unicafe/1_11unicafestep6/npm-debug.log*
part1/unicafe/1_11unicafestep6/yarn-debug.log*
part1/unicafe/1_11unicafestep6/yarn-error.log*
part1/unicafe/1_11unicafestep6/pnpm-debug.log*
part1/unicafe/1_11unicafestep6/lerna-debug.log*
part1/unicafe/1_11unicafestep6/dist
part1/unicafe/1_11unicafestep6/dist-ssr
part1/unicafe/1_11unicafestep6/*.local

part1/anecdotes/1_12anecdotesstep1/node_modules/*
part1/anecdotes/1_12anecdotesstep1/public/*
part1/anecdotes/1_12anecdotesstep1/logs
part1/anecdotes/1_12anecdotesstep1/*.log
part1/anecdotes/1_12anecdotesstep1/npm-debug.log*
part1/anecdotes/1_12anecdotesstep1/yarn-debug.log*
part1/anecdotes/1_12anecdotesstep1/yarn-error.log*
part1/anecdotes/1_12anecdotesstep1/pnpm-debug.log*
part1/anecdotes/1_12anecdotesstep1/lerna-debug.log*
part1/anecdotes/1_12anecdotesstep1/dist
part1/anecdotes/1_12anecdotesstep1/dist-ssr
part1/anecdotes/1_12anecdotesstep1/*.local

part1/anecdotes/1_13anecdotesstep2/node_modules/*
part1/anecdotes/1_13anecdotesstep2/public/*
part1/anecdotes/1_13anecdotesstep2/logs
part1/anecdotes/1_13anecdotesstep2/*.log
part1/anecdotes/1_13anecdotesstep2/npm-debug.log*
part1/anecdotes/1_13anecdotesstep2/yarn-debug.log*
part1/anecdotes/1_13anecdotesstep2/yarn-error.log*
part1/anecdotes/1_13anecdotesstep2/pnpm-debug.log*
part1/anecdotes/1_13anecdotesstep2/lerna-debug.log*
part1/anecdotes/1_13anecdotesstep2/dist
part1/anecdotes/1_13anecdotesstep2/dist-ssr
part1/anecdotes/1_13anecdotesstep2/*.local

part1/anecdotes/1_14anecdotesstep3/node_modules/*
part1/anecdotes/1_14anecdotesstep3/public/*
part1/anecdotes/1_14anecdotesstep3/logs
part1/anecdotes/1_14anecdotesstep3/*.log
part1/anecdotes/1_14anecdotesstep3/npm-debug.log*
part1/anecdotes/1_14anecdotesstep3/yarn-debug.log*
part1/anecdotes/1_14anecdotesstep3/yarn-error.log*
part1/anecdotes/1_14anecdotesstep3/pnpm-debug.log*
part1/anecdotes/1_14anecdotesstep3/lerna-debug.log*
part1/anecdotes/1_14anecdotesstep3/dist
part1/anecdotes/1_14anecdotesstep3/dist-ssr
part1/anecdotes/1_14anecdotesstep3/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

part1/courseInformation/1_1courseinformation/.vscode/*
part1/courseInformation/1_1courseinformation/!.vscode/extensions.json
part1/courseInformation/1_1courseinformation/.idea
part1/courseInformation/1_1courseinformation/.DS_Store
part1/courseInformation/1_1courseinformation/*.suo
part1/courseInformation/1_1courseinformation/*.ntvs*
part1/courseInformation/1_1courseinformation/*.njsproj
part1/courseInformation/1_1courseinformation/*.sln
part1/courseInformation/1_1courseinformation/*.sw?

part1/courseInformation/1_2courseinformation/.vscode/*
part1/courseInformation/1_2courseinformation/!.vscode/extensions.json
part1/courseInformation/1_2courseinformation/.idea
part1/courseInformation/1_2courseinformation/.DS_Store
part1/courseInformation/1_2courseinformation/*.suo
part1/courseInformation/1_2courseinformation/*.ntvs*
part1/courseInformation/1_2courseinformation/*.njsproj
part1/courseInformation/1_2courseinformation/*.sln
part1/courseInformation/1_2courseinformation/*.sw?

part1/courseInformation/1_3courseinformation/.vscode/*
part1/courseInformation/1_3courseinformation/!.vscode/extensions.json
part1/courseInformation/1_3courseinformation/.idea
part1/courseInformation/1_3courseinformation/.DS_Store
part1/courseInformation/1_3courseinformation/*.suo
part1/courseInformation/1_3courseinformation/*.ntvs*
part1/courseInformation/1_3courseinformation/*.njsproj
part1/courseInformation/1_3courseinformation/*.sln
part1/courseInformation/1_3courseinformation/*.sw?

part1/courseInformation/1_4courseinformation/.vscode/*
part1/courseInformation/1_4courseinformation/!.vscode/extensions.json
part1/courseInformation/1_4courseinformation/.idea
part1/courseInformation/1_4courseinformation/.DS_Store
part1/courseInformation/1_4courseinformation/*.suo
part1/courseInformation/1_4courseinformation/*.ntvs*
part1/courseInformation/1_4courseinformation/*.njsproj
part1/courseInformation/1_4courseinformation/*.sln
part1/courseInformation/1_4courseinformation/*.sw?

part1/courseInformation/1_5courseinformation/.vscode/*
part1/courseInformation/1_5courseinformation/!.vscode/extensions.json
part1/courseInformation/1_5courseinformation/.idea
part1/courseInformation/1_5courseinformation/.DS_Store
part1/courseInformation/1_5courseinformation/*.suo
part1/courseInformation/1_5courseinformation/*.ntvs*
part1/courseInformation/1_5courseinformation/*.njsproj
part1/courseInformation/1_5courseinformation/*.sln
part1/courseInformation/1_5courseinformation/*.sw?

part1/unicafe/1_6unicafestep1/.vscode/*
part1/unicafe/1_6unicafestep1/!.vscode/extensions.json
part1/unicafe/1_6unicafestep1/.idea
part1/unicafe/1_6unicafestep1/.DS_Store
part1/unicafe/1_6unicafestep1/*.suo
part1/unicafe/1_6unicafestep1/*.ntvs*
part1/unicafe/1_6unicafestep1/*.njsproj
part1/unicafe/1_6unicafestep1/*.sln
part1/unicafe/1_6unicafestep1/*.sw?

part1/unicafe/1_7unicafestep2/.vscode/*
part1/unicafe/1_7unicafestep2/!.vscode/extensions.json
part1/unicafe/1_7unicafestep2/.idea
part1/unicafe/1_7unicafestep2/.DS_Store
part1/unicafe/1_7unicafestep2/*.suo
part1/unicafe/1_7unicafestep2/*.ntvs*
part1/unicafe/1_7unicafestep2/*.njsproj
part1/unicafe/1_7unicafestep2/*.sln
part1/unicafe/1_7unicafestep2/*.sw?

part1/unicafe/1_8unicafestep3/.vscode/*
part1/unicafe/1_8unicafestep3/!.vscode/extensions.json
part1/unicafe/1_8unicafestep3/.idea
part1/unicafe/1_8unicafestep3/.DS_Store
part1/unicafe/1_8unicafestep3/*.suo
part1/unicafe/1_8unicafestep3/*.ntvs*
part1/unicafe/1_8unicafestep3/*.njsproj
part1/unicafe/1_8unicafestep3/*.sln
part1/unicafe/1_8unicafestep3/*.sw?

part1/unicafe/1_9unicafestep4/.vscode/*
part1/unicafe/1_9unicafestep4/!.vscode/extensions.json
part1/unicafe/1_9unicafestep4/.idea
part1/unicafe/1_9unicafestep4/.DS_Store
part1/unicafe/1_9unicafestep4/*.suo
part1/unicafe/1_9unicafestep4/*.ntvs*
part1/unicafe/1_9unicafestep4/*.njsproj
part1/unicafe/1_9unicafestep4/*.sln
part1/unicafe/1_9unicafestep4/*.sw?

part1/unicafe/1_10unicafestep5/.vscode/*
part1/unicafe/1_10unicafestep5/!.vscode/extensions.json
part1/unicafe/1_10unicafestep5/.idea
part1/unicafe/1_10unicafestep5/.DS_Store
part1/unicafe/1_10unicafestep5/*.suo
part1/unicafe/1_10unicafestep5/*.ntvs*
part1/unicafe/1_10unicafestep5/*.njsproj
part1/unicafe/1_10unicafestep5/*.sln
part1/unicafe/1_10unicafestep5/*.sw?

part1/unicafe/1_11unicafestep6/.vscode/*
part1/unicafe/1_11unicafestep6/!.vscode/extensions.json
part1/unicafe/1_11unicafestep6/.idea
part1/unicafe/1_11unicafestep6/.DS_Store
part1/unicafe/1_11unicafestep6/*.suo
part1/unicafe/1_11unicafestep6/*.ntvs*
part1/unicafe/1_11unicafestep6/*.njsproj
part1/unicafe/1_11unicafestep6/*.sln
part1/unicafe/1_11unicafestep6/*.sw?

part1/anecdotes/1_12anecdotesstep1/.vscode/*
part1/anecdotes/1_12anecdotesstep1/!.vscode/extensions.json
part1/anecdotes/1_12anecdotesstep1/.idea
part1/anecdotes/1_12anecdotesstep1/.DS_Store
part1/anecdotes/1_12anecdotesstep1/*.suo
part1/anecdotes/1_12anecdotesstep1/*.ntvs*
part1/anecdotes/1_12anecdotesstep1/*.njsproj
part1/anecdotes/1_12anecdotesstep1/*.sln
part1/anecdotes/1_12anecdotesstep1/*.sw?

part1/anecdotes/1_13anecdotesstep2/.vscode/*
part1/anecdotes/1_13anecdotesstep2/!.vscode/extensions.json
part1/anecdotes/1_13anecdotesstep2/.idea
part1/anecdotes/1_13anecdotesstep2/.DS_Store
part1/anecdotes/1_13anecdotesstep2/*.suo
part1/anecdotes/1_13anecdotesstep2/*.ntvs*
part1/anecdotes/1_13anecdotesstep2/*.njsproj
part1/anecdotes/1_13anecdotesstep2/*.sln
part1/anecdotes/1_13anecdotesstep2/*.sw?

part1/anecdotes/1_14anecdotesstep3/.vscode/*
part1/anecdotes/1_14anecdotesstep3/!.vscode/extensions.json
part1/anecdotes/1_14anecdotesstep3/.idea
part1/anecdotes/1_14anecdotesstep3/.DS_Store
part1/anecdotes/1_14anecdotesstep3/*.suo
part1/anecdotes/1_14anecdotesstep3/*.ntvs*
part1/anecdotes/1_14anecdotesstep3/*.njsproj
part1/anecdotes/1_14anecdotesstep3/*.sln
part1/anecdotes/1_14anecdotesstep3/*.sw?

part1/part1exercise01-app/
